<%- include("./uploaderPartials/authheader.ejs") %>
<div class="row">
	<div class="col-8 offset-2">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading">Error !!</h4>
			<b>
				<p style="color: black"><%= err.message %></p>
			</b>
			<hr />
			<p class="mb-0"><%= err.stack %></p>
		</div>
	</div>
</div>
<%- include("./uploaderPartials/authfooter.ejs") %>